* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  color: rgb(60, 60, 60);
  font-size: 12px;

  background-color: rgb(220, 255, 220);
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: rgb(190, 255, 190);
}

.form-input {
  min-width: 240px;
  padding: 12px;

  color: rgba(5, 125, 15, 1);
  font-size: 20px;

  background-color: inherit;
  border: 1px solid rgba(5, 125, 15, 0.8);
  border-radius: 10px;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  background-color: rgba(130, 220, 130, 0.4);
  outline: 1px solid rgba(5, 125, 15, 0.8);
}

.form-btn {
  padding: 12px;
  cursor: pointer;

  background-color: rgba(130, 220, 130, 0.4);
  border: 1px solid rgba(5, 125, 15, 0.8);
  border-radius: 10px;

  color: rgba(5, 125, 15, 1);
  font-size: 20px;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn.disabled {
  background-color: inherit;
  border-color: rgb(116, 116, 116);
  color: rgb(116, 116, 116);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-card {
  width: calc((100% - 30px) / 4);
}

img {
  width: 100%;
}

.info {
  display: flex;
  gap: 10px;
}
